<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Content-Type" value="text/html; charset=utf-8" />
			</customHeaders>
		</httpProtocol>
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="ru-RU" uiCulture="ru-RU" />
	</system.webServer>
</configuration>
